body {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 60px;
    background-color: rgb(41, 41, 41);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    border: solid rgb(151, 151, 151) 3px;
    background-color: rgb(46, 46, 46);
    height: 500px;
    width: 400px;
    border-radius: 15px;  
    padding: 0 5px 10px 5px;  
}

.display {
    border: solid lightblue 3px;
    background-color: lightblue;
    height: 50px;
    width: auto;
    padding: 10px 5px;
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
    font-size: 3em;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    margin: 0 5px 0px 5px;
    height: 25%;
}

.clear, .zero {
    width: 75% !important;
}

.num, .operator, .clear {
    font-size: 3em;
}



.num, .operator {
    width: 25%
}

button {
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.clear {
    border: 2px rgb(92, 28, 28) solid;
    background-color: darkred;
    color: white;    
}

.operator {
    border: 2px rgb(141, 81, 13) solid;
    background-color: darkorange;
    color: white;
}

.num {
    border: 2px gray solid;
    background-color: darkgrey;
}

.clear:active {
    background-color: rgb(92, 28, 28);
    color: grey;
}

.operator:active {
    background-color: rgb(141, 81, 13);
    color: grey;
}

.num:active, .zero:active {
    background-color: gray;
    color: white;
}